html {
    font-family: "Lato";
    font-weight: 300;
}

::-webkit-scrollbar {
    display: none;
}

.right {
    font-weight: 100;
}

body {
    /* background: radial-gradient(circle at center, #FFFFFF 0, #FFFFFF 70%, #BFBFBF 100%); */
    background: rgb(250, 250, 252);

    animation: fadein 2s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h3 {
    font-weight: 700;
}

div#bannerSection {
    display: flex;
    float: top;
    margin-bottom: 4em;
    position: relative;
}

ul#nav {
    list-style: none;
}

ul#nav li {
    display: block;
    width: 100px;
    float: left;
    margin-left: 2px;
    text-align: center;
    font-size: 1.1em;

    transition: .25s;
}

li.current {
    padding-bottom: 10px;
    border-bottom: rgba(0, 0, 0, 0.5) 1px solid;
}

.right {
    position: fixed;
    right: 40px;
    top: 0px;
}

ul a:link,
ul a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: .25s;
    font-weight: 100;
}

ul a:hover {
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

div.projectContainer {
    text-align: center;
}

div#projectSection {
    display: inline-block;
    min-width: 500px;
}
