/* Banner logo bg doesn't match page color */
.header {
    background: rgb(250, 250, 252);
}

/* Minimap CSS */
#map {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 80px;
    width: 160px;
    height: 100%;
    z-index: 9999999999;
    margin: 12px;
    opacity: 0.3;
}

#map:hover {
    opacity: 1;
}

/* Page content */
.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 50px;
}

/* CSS Grid Containers */
.grid-container {
    display: grid;
}



/* Base text modifications */
h1 {
    font-weight: 700;
}

.subtext {
    line-height: 0px;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

a:link,
a:visited {
    text-decoration: none;
    color: #fcaf2c;
    font-weight: 700;
}

a:hover {
    color: #d19124;
}

a:active {
    color: #1c95cc;
}
